# Email Service Environment Variables

# Email SMTP Configuration (Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=shanadhi99@gmail.com
EMAIL_PASSWORD=mxzn jhbo yhhb pzrn
EMAIL_FROM="Brinex <no-reply@codemind.com>"

# Kafka Configuration
KAFKA_BROKER=localhost:29092

# Application Name
APP_NAME=Brinex
