MONGO_URI=mongodb+srv://brinexAdmin:1no83DWF6n31kkj3@cluster0.tk0ipzf.mongodb.net/brinex?appName=Cluster0
OPENWEATHER_API_KEY=c1406b25c6c34edb8974a6a332d4d0b9
OPENWEATHER_LAT=8.061542
OPENWEATHER_LON=79.814714
GRPC_URL=localhost:50054
ONNX_SERVICE_GRPC_URL=localhost:50055
PORT=3006
