MONGO_URI=mongodb+srv://brinexAdmin:1no83DWF6n31kkj3@cluster0.tk0ipzf.mongodb.net/brinex?appName=Cluster0
GRPC_URL=0.0.0.0:50055
OPENWEATHER_API_KEY=your-openweather-api-key
OPENWEATHER_LAT=8.061542
OPENWEATHER_LON=79.814714
KAFKA_BROKER=localhost:29092
