MONGO_URI=mongodb+srv://brinexAdmin:1no83DWF6n31kkj3@cluster0.tk0ipzf.mongodb.net/brinex?appName=Cluster0
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRODUCT_ID_BASIC=prod_... # From Stripe dashboard
STRIPE_PRICE_ID_BASIC=price_... # $9/mo for Basic
STRIPE_PRODUCT_ID_PREMIUM=prod_... # For Premium
STRIPE_PRICE_ID_PREMIUM=price_... # $19/mo for Premium