NOTIFY_LK_USER_ID=your-notify-lk-user-id
NOTIFY_LK_API_KEY=your-notify-lk-api-key
NOTIFY_LK_SENDER_ID=NotifyDEMO
KAFKA_BROKER=localhost:29092            
MONGO_URI=mongodb+srv://brinexAdmin:1no83DWF6n31kkj3@cluster0.tk0ipzf.mongodb.net/brinex?appName=Cluster0